@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/SatoshiLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/SatoshiRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/SatoshiMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/SatoshiBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/SatoshiBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.satoshiLight {
  font-family: 'Satoshi', sans-serif;
  font-weight: 300;
}

.satoshiRegular {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
}

.satoshiMedium {
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
}

.satoshiBold {
  font-family: 'Satoshi', sans-serif;
  font-weight: 700;
}

.satoshiBlack {
  font-family: 'Satoshi', sans-serif;
  font-weight: 900;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}